Olá, <strong>{{ name }}</strong>

<p>Gympoint Academia Informa:</p>

<p>Uma nova matrícula no plano {{plan}} com data de vencimento para o <strong>{{endDate}}</strong> no valor de <strong>R${{price}}</strong> foi realizada em seu nome.</p>
