Olá <strong>{{name}}</strong>

<p>Gympoint Academia Informa:</p>

<p>Uma resposta para sua pergunta acaba de ser registrada</p>

<p><strong>Sua Pergunta:</strong> {{question}}</p>

<p><strong>Nossa Resposta:</strong> {{answer}}</p>
