Olá, <strong>{{ name }}</strong>

<p>Seja Bem-vindo(a) a Gympoint Acadêmia</p>

<p>Um novo cadastro em seu nome acaba de ser realizada com sucesso.</p>

<p>Para realizada check-in e peguntas acesse o app mobile com o seguinte codigo: <strong>{{ id }}</strong></p>
