<strong>Olá, {{ name }}</strong>

<p>Seja Bem-vindo a Academia</p>

<p>Você acaba de realiza uma matrícula no plano {{plan}} com data de vencimento para o <strong>{{endDate}}</strong> no valor de <strong>R${{price}}</strong>.</p>